.bg-1 {
    background: linear-gradient(
        to right,
        rgba(white, 0.4),
        rgba(white, 0.4)
      ), url('../img/1.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;

    .header {
        padding-top: 2vh;
        display: flex;
        justify-content: space-around;

        .logo {
            width: 43px;
            height: 43px;
        }

        .nav {
            margin-top: 8px;
            height: 9px;
            color: #fefeff;
            font-family: 'Lato', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 1.2px;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline;
                    margin-left: 22px;
                    border-bottom: 1px solid white;
                }

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .main-content-index {
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 45%;
        margin-left: 10%;

        .heading-main-1 {
            color: #4d4d4d;
            font-size: 60px;
            letter-spacing: 1px;
        }

        .heading-main-2 {
            color: #414f6b;
            font-size: 60px;
            letter-spacing: 3px;
            margin-top: -30px;
        }
    }
}


@media (min-width: 768px)  {
    .main-content-index {
        left: 20vw !important;
        top: 26vh !important;

        .heading-main-1 {
            font-size: 90px !important;
        }

        .heading-main-2 {
            font-size: 90px !important;
            letter-spacing: 5px !important;
        }
    }
} 

@media (min-width: 1024px) {
    .main-content-index {
        margin-top: 18% !important;
        margin-left: 20% !important;
    }
}

@media (min-width: 1280px) {
    .main-content-index {
    margin-top: 16% !important;
    margin-left: 30% !important;
    }
}

@media (min-width: 1440px) {
    .main-content-index {
    margin-top: 18% !important;
    margin-left: 30% !important;
    }
}

@media (min-width: 1600px) {
    .main-content-index {
        margin-top: 13% !important;
        margin-left: 30% !important;

        .heading-main-1 {
            font-size: 115px !important;
            letter-spacing: 8px !important;
        }

        .heading-main-2 {
            font-size: 115px !important;
            letter-spacing: 13px !important;
        }
    }
}

@media (min-width: 1920px) {
    .main-content-index {
        margin-top: 16% !important;
        margin-left: 30% !important;
    }
}