.bg-1 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url("../img/1.png") no-repeat center center fixed;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../img/1.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.bg-1 .header {
  padding-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bg-1 .header .logo {
  width: 43px;
  height: 43px;
}

.bg-1 .header .nav {
  margin-top: 8px;
  height: 9px;
  color: #fefeff;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.bg-1 .header .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bg-1 .header .nav ul li {
  display: inline;
  margin-left: 22px;
  border-bottom: 1px solid white;
}

.bg-1 .header .nav ul a {
  text-decoration: none;
  color: white;
}

.bg-1 .main-content-index {
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 45%;
  margin-left: 10%;
}

.bg-1 .main-content-index .heading-main-1 {
  color: #4d4d4d;
  font-size: 60px;
  letter-spacing: 1px;
}

.bg-1 .main-content-index .heading-main-2 {
  color: #414f6b;
  font-size: 60px;
  letter-spacing: 3px;
  margin-top: -30px;
}

@media (min-width: 768px) {
  .main-content-index {
    left: 20vw !important;
    top: 26vh !important;
  }
  .main-content-index .heading-main-1 {
    font-size: 90px !important;
  }
  .main-content-index .heading-main-2 {
    font-size: 90px !important;
    letter-spacing: 5px !important;
  }
}

@media (min-width: 1024px) {
  .main-content-index {
    margin-top: 18% !important;
    margin-left: 20% !important;
  }
}

@media (min-width: 1280px) {
  .main-content-index {
    margin-top: 16% !important;
    margin-left: 30% !important;
  }
}

@media (min-width: 1440px) {
  .main-content-index {
    margin-top: 18% !important;
    margin-left: 30% !important;
  }
}

@media (min-width: 1600px) {
  .main-content-index {
    margin-top: 13% !important;
    margin-left: 30% !important;
  }
  .main-content-index .heading-main-1 {
    font-size: 115px !important;
    letter-spacing: 8px !important;
  }
  .main-content-index .heading-main-2 {
    font-size: 115px !important;
    letter-spacing: 13px !important;
  }
}

@media (min-width: 1920px) {
  .main-content-index {
    margin-top: 16% !important;
    margin-left: 30% !important;
  }
}

.bg-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(65, 79, 107, 0.6)), to(rgba(255, 255, 255, 0.3))), url("../img/2.png") no-repeat center center fixed;
  background: linear-gradient(to bottom, rgba(65, 79, 107, 0.6), rgba(255, 255, 255, 0.3)), url("../img/2.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.bg-2 .header-2 {
  padding-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 2;
  background-color: white;
  padding-bottom: 2vh;
}

.bg-2 .header-2 .logo-2 {
  width: 43px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-2 .header-2 .logo-b {
  margin-left: 10px;
  display: none;
}

.bg-2 .header-2 .nav-2 {
  margin-top: 8px;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #414f6b;
  font-weight: 900;
  font-style: italic;
  font-family: "Lato";
}

.bg-2 .header-2 .nav-2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bg-2 .header-2 .nav-2 ul li {
  display: inline;
  margin-left: 22px;
  border-bottom: 1px solid #414f6b;
}

.bg-2 .header-2 .nav-2 ul a {
  text-decoration: none;
  color: #414f6b;
}

.bg-2 .main-content-2 .heading-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-2 .main-content-2 .heading-text .number {
  font-size: 64px;
  color: #414f6b;
  opacity: 0.5;
  font-weight: 700;
  font-family: "Oswald";
  margin-left: 25px;
}

.bg-2 .main-content-2 .heading-text .title {
  font-size: 18px;
  color: #414f6b;
  font-weight: 700;
  font-family: "Oswald";
  margin-top: 33px;
  margin-left: -13px;
}

.bg-2 .main-content-2 .text-history {
  width: 85%;
  margin-left: 25px;
  font-size: 11px;
  line-height: 24px;
  color: #000000;
  font-weight: 300;
  font-family: "Lato";
}

.bg-2 .main-content-2 .box {
  position: absolute;
  bottom: 0;
  background-color: rgba(65, 79, 107, 0.9);
  width: 100%;
  height: auto;
  margin-top: 150px;
}

.bg-2 .main-content-2 .box .pics-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding-top: 8px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.bg-2 .main-content-2 .box .pics-grid .pic {
  width: 100%;
  height: auto;
  padding: 4px;
}

.owl-carousel {
  position: relative;
}

.owl-dots {
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 25%;
}

@media (min-width: 360px) {
  .number {
    margin-left: 35px !important;
  }
  .text-history {
    font-size: 12px !important;
    margin-left: 35px !important;
  }
}

@media (min-width: 414px) {
  .number {
    margin-left: 50px !important;
  }
  .text-history {
    font-size: 12px !important;
    margin-left: 55px !important;
    width: 80% !important;
  }
}

@media (min-width: 768px) {
  .logo-b {
    display: block !important;
  }
  .heading-text {
    margin-left: 85px !important;
  }
  .heading-text .number {
    font-size: 136px !important;
  }
  .heading-text .title {
    margin-top: 77px !important;
    margin-left: -27px !important;
    font-size: 32px !important;
  }
  .text-history {
    margin-left: 145px !important;
    width: 65% !important;
  }
  .pics-grid {
    padding-top: 15px !important;
    padding-bottom: 30px !important;
    padding-left: 115px !important;
    padding-right: 115px !important;
  }
}

@media (min-width: 1024px) {
  .heading-text {
    margin-left: 150px !important;
  }
  .heading-text .number {
    font-size: 136px !important;
  }
  .heading-text .title {
    margin-left: -27px !important;
  }
  .text-history {
    margin-left: 215px !important;
    width: 60% !important;
    font-size: 16px !important;
  }
  .pics-grid {
    padding-top: 15px !important;
    padding-bottom: 30px !important;
    padding-left: 175px !important;
    padding-right: 175px !important;
  }
}

@media (min-width: 1280px) {
  .logo-b {
    display: block !important;
  }
  .heading-text {
    margin-left: 160px !important;
  }
  .heading-text .number {
    font-size: 136px !important;
  }
  .heading-text .title {
    margin-left: -27px !important;
  }
  .text-history {
    margin-left: 220px !important;
    width: 60% !important;
    font-size: 16px !important;
  }
  .pics-grid {
    padding-top: 15px !important;
    padding-bottom: 30px !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}

@media (min-width: 1280px) {
  .heading-text {
    margin-left: 260px !important;
  }
  .heading-text .number {
    font-size: 136px !important;
  }
  .heading-text .title {
    margin-left: -27px !important;
  }
  .text-history {
    margin-left: 320px !important;
    width: 60% !important;
    font-size: 16px !important;
  }
  .pics-grid {
    padding-left: 300px !important;
    padding-right: 300px !important;
  }
}

@media (min-width: 1600px) {
  .heading-text {
    margin-left: 290px !important;
  }
  .heading-text .number {
    font-size: 136px !important;
  }
  .heading-text .title {
    margin-left: -27px !important;
  }
  .text-history {
    margin-left: 350px !important;
    width: 55% !important;
    font-size: 16px !important;
  }
  .pics-grid {
    padding-top: 15px !important;
    padding-bottom: 35px !important;
    padding-left: 315px !important;
    padding-right: 315px !important;
  }
}

@media (min-width: 1920px) {
  .heading-text {
    margin-left: 375px !important;
  }
  .heading-text .number {
    font-size: 136px !important;
  }
  .heading-text .title {
    margin-left: -27px !important;
  }
  .text-history {
    margin-left: 440px !important;
    width: 55% !important;
    font-size: 16px !important;
  }
  .pics-grid {
    padding-top: 15px !important;
    padding-bottom: 35px !important;
    padding-left: 405px !important;
    padding-right: 405px !important;
  }
}

.bg-3 {
  background: url("../img/3.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.bg-3 .header-team {
  background-color: white;
}

.bg-3 .header-team .heading-text-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding-top: 20px;
}

.bg-3 .header-team .heading-text-team .number-team {
  font-size: 64px;
  color: #414f6b;
  opacity: 0.5;
  font-weight: 700;
  font-family: "Oswald";
  margin-left: 25px;
  padding-top: 10px;
}

.bg-3 .header-team .heading-text-team .title-team {
  font-size: 18px;
  color: #414f6b;
  font-weight: 700;
  font-family: "Oswald";
  padding-top: 44px;
  margin-left: -13px;
}

.bg-3 .header-team .heading-text-team .text-team {
  width: 50%;
  margin-left: 10px;
  padding-top: 20px;
  font-size: 9px;
  line-height: 16px;
  color: #000000;
  font-weight: 300;
  font-family: "Lato";
}

.bg-3 .header-team .nav-3 {
  display: inline;
  margin-left: 20px;
  font-family: "Oswald";
  font-weight: 700;
}

.bg-3 .header-team .nav-3 .back {
  height: 24px;
  width: 100%;
  background-color: #414f6b;
}

.bg-3 .header-team .nav-3 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bg-3 .header-team .nav-3 ul li {
  display: inline;
  margin-left: 22px;
}

.bg-3 .header-team .nav-3 ul a {
  text-decoration: none;
  color: #414f6b;
}

.bg-3 .header-team .nav-3 ul .text-mountain {
  color: #b0b4be;
}

.bg-3 .header-team .nav-3 ul .active {
  background-color: #b0b4be;
  padding-left: 12px;
  padding-right: 12px;
  color: #414f6b;
}

.bg-3 .main-content-3 .box-team {
  background-color: white;
  opacity: 0.8;
  width: 280px;
  height: 230px;
  margin-left: 22px;
  margin-top: 44px;
}

.bg-3 .main-content-3 .box-team .heading-main-title {
  font-weight: 700;
  font-family: "Oswald";
  margin-top: -20px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #414f6b;
}

.bg-3 .main-content-3 .box-team .f {
  display: inline;
  font-weight: 300;
  font-family: "Lato";
}

.bg-3 .main-content-3 .box-team .p {
  float: left;
  margin-left: 10px;
  margin-bottom: 6px;
}

.bg-3 .main-content-3 .box-team .p2 {
  margin-left: 140px;
  margin-bottom: 6px;
}

.bg-3 .footer-team {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #414f6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bg-3 .footer-team .footer-cop-text {
  font-size: 6px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #63769d;
  font-weight: 900;
  font-style: italic;
  font-family: "Lato";
  margin-top: 12px;
}

@media (min-width: 360px) {
  .heading-text-team {
    margin-left: 10px !important;
  }
}

@media (min-width: 414px) {
  .heading-text-team {
    height: 120px !important;
    margin-left: 25px !important;
  }
  .heading-text-team .text-team {
    padding-top: 25px !important;
  }
  .box-team {
    width: 360px !important;
    height: 210px;
  }
  .box-team .p2 {
    margin-left: 210px !important;
  }
}

@media (min-width: 768px) {
  .heading-text-team {
    height: 120px !important;
    margin-left: 110px !important;
  }
  .heading-text-team .number-team {
    font-size: 136px !important;
    margin-top: -45px !important;
  }
  .heading-text-team .title-team {
    font-size: 32px !important;
    color: #414f6b;
    font-weight: 700;
    font-family: "Oswald";
    padding-top: 49px;
    margin-left: -29px !important;
  }
  .heading-text-team .text-team {
    width: 50% !important;
    margin-left: 25px !important;
    margin-top: 8px !important;
    font-size: 16px !important;
  }
  .nav-3 .back {
    padding-left: 95px !important;
  }
  .main-content-3 {
    margin-left: 95px;
    margin-top: 80px !important;
  }
  .box-team {
    width: 352px !important;
    height: 210px;
  }
  .box-team .heading-main-title {
    margin-left: 25px !important;
  }
  .box-team .p {
    margin-left: 25px !important;
  }
  .box-team .p2 {
    margin-left: 190px !important;
  }
  .footer-cop-text {
    font-size: 12px !important;
  }
}

@media (min-width: 1024px) {
  .heading-text-team {
    margin-left: 175px !important;
  }
  .nav-3 .back {
    padding-left: 160px !important;
  }
  .main-content-3 {
    margin-left: 160px !important;
  }
}

@media (min-width: 1280px) {
  .heading-text-team {
    margin-left: 180px !important;
  }
  .nav-3 .back {
    padding-left: 165px !important;
  }
  .main-content-3 {
    margin-left: 165px !important;
  }
}

@media (min-width: 1440px) {
  .heading-text-team {
    margin-left: 285px !important;
  }
  .nav-3 .back {
    padding-left: 275px !important;
  }
  .main-content-3 {
    margin-left: 275px !important;
  }
}

@media (min-width: 1600px) {
  .heading-text-team {
    margin-left: 315px !important;
  }
  .nav-3 .back {
    padding-left: 305px !important;
  }
  .main-content-3 {
    margin-left: 305px !important;
  }
}

@media (min-width: 1920px) {
  .heading-text-team {
    margin-left: 400px !important;
  }
  .nav-3 .back {
    padding-left: 385px !important;
  }
  .main-content-3 {
    margin-left: 385px !important;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */